<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

<h1>Shit</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Shit Tutorial</a>
</p>

</body>
</html>